head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(property='og:image', content='/imgs/og-image.jpg')
	meta(property='og:site_name', content='Фокина Татьяна — HTML-верстальщик')
	//meta(name="description" content=pageDesc)
	meta(property='og:title', content="HTML-верстальщик Татьяна")
	meta(property='og:url', content='https://fokina-dev.ru')
	//meta(property='og:description', content=pageDesc)
	//description= pageDesc
	//title= headTitle
	link(rel="stylesheet" href="/css/styles.css")
	//-link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet")
	//-Favicon
	link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon.png?v=1011")
	link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png?v=1011")
	link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png?v=1011")
	link(rel="manifest", href="/favicons/manifest.json?v=1011")
	link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg?v=1011", color="#5bbad5")
	meta(name="theme-color", content="#ffffff")
	meta(name="yandex-verification" content="aa3887f44badde41")
