header.header
	.header-container
		.header-inf.media
			.header-logo(aria-label='Лого')
			.header-name
				.header-name__title(role='heading' aria-level='1' aria-label='Название сайта')
					| Татьяна Фокина
				.header-name__subtitle(role='heading' aria-level='3')
					| HTML‐верстальщик

		//-Main menu
		button.hamburger(aria-label='Меню').js-expand-lnk
		nav.nav-wrp.js-expand-block
			ul.nav
				li.nav-item
					a.nav-item__lnk(href='#aboutMe')
						span.nav-item__title Обо мне
				li.nav-item
					a.nav-item__lnk(href='#portfolio')
						span.nav-item__title Портфолио
				li.nav-item
					a.nav-item__lnk(href='#cv')
						span.nav-item__title Резюме
				li.nav-item
					a.nav-item__lnk(href='#contacts')
						span.nav-item__title Контакты
				li.nav-item.nav-item__github
					a.nav-item__lnk(href='https://github.com/TatianaFokina' target='_blank' rel='noopener noreferrer')
						span.nav-item__title GitHub
