.contacts
	display inline-block
	
// Icons style
.contact-link
	margin-bottom 10px
	align-items center
	line-height 1
	&__icon
		width 24px
		height 24px
	svg
		width 100%
		height 100%
	// Links text
	&__text
		margin-left 10px

	// Hover effects
	.a
		transition all 0.2s ease
	&:hover .a
		fill lighten($brand-1, 10%)
