// Project description

.project
	&__summary
		background $brand-white
		padding 20px
		box-shadow 4px 4px 0 lighten($brand_gray-light, 73%)
	&__date
		color lighten($brand_gray-light, 30%)
	&__link
		display inline-block
		margin-top 10px
	// Descriptions
	&__overview
		margin-top 30px
	&__img
		display block
		margin 20px 0
		
// Screenshots

.work-img
	display inline-block
	// Screenshot border
	&-inr
		display table
		border 1px solid lighten($brand_gray-light, 73%)
		+media(sm)
			margin-bottom 10px
		+media(md)
			margin-bottom 10px
		+media(lg)
			margin-bottom 20px
	&__img
		@extend .img-fluid
	// Caption style
	&__caption
		color $brand_gray-light
		font-style italic
		padding-top 5px
		caption-side bottom
		text-align center
		
// CodePen
#cp_embed_mMreRr
	background-color $brand_gray-lighter
