// Описание проекта

.project
	&__summary
		background $brand-white
		padding 20px
		box-shadow 4px 4px 0 lighten($brand_gray-light, 73%)
	&__date
		color lighten($brand_gray-light, 30%)
	&__link
		display inline-block
		margin-top 10px
		/*&-icon
			background-image svg-load('../imgs/external-link.svg')
			display inline-block
			background-size 10px
			background-repeat no-repeat
			background-position 100% 50%
			padding-right 16px
			+media(sm)
				padding-right 18px
				background-size 12px*/
	
	// Описание и функции
	&__overview
		margin-top 30px
	&__img
		display block
		margin 20px 0
		
// Стили скриншотов

.work-img--with-caption
	display inline-block

.work-img
	// Рамки вокруг скриншотов
	&-inr
		border 1px solid lighten($brand_gray-light, 73%)
		background $color-section
		display table
		padding 12px
		+media(sm)
			margin-bottom 10px
		+media(md)
			margin-bottom 10px
		+media(lg)
			margin-bottom 20px
		+media(xl)
			margin-bottom 40px
		
			
	// Стили подписей
	&__caption
		color $brand_gray-light
		font-style italic
		padding-top 5px
		caption-side bottom
		text-align center
		
// CodePen
#cp_embed_mMreRr
	background-color lighten($brand_gray-light, 80%)