// ===================================================================================================================
// Sections
// ===================================================================================================================

// Section paddings
.striped-section
	&:not(:last-of-type)
		padding-bottom 3rem // 48px
	&:not(:first-of-type)
		padding-top 3rem // 48px

// Section color
.striped-section:nth-child(odd)
	position relative
	background $brand-2

.striped-section--portfolio
	margin-bottom -2rem




// ===================================================================================================================
// Advantages
// ===================================================================================================================

.advantages
	@extend .d-flex
	margin-top 32px
	width 100%
	// Adaptive
	flex-direction column
	justify-content start
	flex-wrap wrap
	+media(sm)
		flex-direction row
		justify-content space-around
	+media(md)
		flex-wrap nowrap
	
.advantage
	height 100%
	align-items center
	// Adaptive
	padding 1rem 1rem 0 0 // 8px
	+media(md)
		padding 0
	
	// Advantage icons
	&__bullet
		margin-right 8px
		width 30px
		height @width
		background-image url('/imgs/icons/bg-advantage.svg')
		background-color $brand-1
		background-size 100%
		background-repeat no-repeat
		background-position 50% 0
		border-radius 50%
		transform rotate(45deg)
		
	// Advantage text
	&__text
		vertical-align middle




// ===================================================================================================================
// Portfolio
// ===================================================================================================================

.work-card
	display block
	background $brand-white
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.25)
	margin-bottom 2rem // 32px
	&:hover
		cursor pointer
	&__img
			width 100%
			background-size cover
			background-position 0 50%
			background-repeat no-repeat
			// Adaptive
			height 251px
			+media(sm)
				height 300px
			+media(lg)
				height 230px
	&__caption
		padding 0.5rem 0 0.5rem 0.5rem // 8px
		&__name
			margin-bottom 0.5rem
			display inline-block
			line-height 1
			thin-underline()
			^[0]:hover &
				thin-underline-hover()
		&__desc
			font-size $font-size-sm
			color alpha($brand-1, 65%)




// ===================================================================================================================
// Lists
// ===================================================================================================================

.knowledge-list
	li
		margin-left 0.5rem // 8px
		padding-left 1rem // 8px
		list-style none
		background-image url('/imgs/marker-squared.svg')
		background-repeat no-repeat
		// Adaptive
		background-position 0 8px
		background-size 4px
		+media(md)
			background-size 5px
		+media(lg)
			background-size 6px

.tools
	margin-left 2rem // 32px




// ===================================================================================================================
// Hero card
// ===================================================================================================================

.hero-card
	background $brand-white
	&-inf
		padding 2.5rem 2rem 2rem 2rem !important // 40px 32px

// Hero photo
.hero-photo
	@extends .img-fluid
	width 100%
	height 100%
	object-fit cover
	object-position 78% 0




// ===================================================================================================================
// Timeline
// ===================================================================================================================

.xp-card
	position relative
	flex-direction column
	+media(sm)
		flex-direction row
	&:not(:last-of-type)
		margin-bottom 1.5rem // 24rem
	&__col-1
		width 110px
		+media(sm)
			text-align right
	&__name
		font-weight bold
	&__date
		color darken($brand-2, 30)
		font-size $font-size-xs
		+media(sm)
			margin-right 0.5rem // 8px
			padding 0 2px
			display inline-block
			position relative
			white-space nowrap
			font-size inherit
			color #9d8bff // ???????????
			border 1px solid #9d8bff
	&__desc
		font-size $font-size-md
		color $brand-light-gray
		// Margin after paragraph in experience and education block
		& p
			margin-bottom 0
			
	// Line
	&:not(:last-of-type):before
		+media(sm)
			content ''
			display block
			position absolute
			top 25px
			bottom -19px
			left 83px
			width 1px
			border-left 1px dashed #9d8bff
		+media(md)
			bottom -21px
			top 26px
		+media(lg)
			bottom -24px
			top 29px
	// Arrow
	&:not(:last-of-type) .xp-card__date:after
		+media(sm)
			content ''
			display block
			position absolute
			top 24px
			right 16px
			padding 3px
			border solid #9d8bff
			border-width 0 1px 1px 0
			transform rotate(-135deg)
		+media(md)
			top 25px
			right 15px
		+media(lg)
			top 28px
			right 14px



// ===================================================================================================================
// Contacts
// ===================================================================================================================

.contact-link
	line-height 0
	&:not(:last-of-type)
		margin 0.5rem 0

.contact-sprite
	list-style none

// Contact icons
.contact-link__icon
	display inline-flex
	align-items center
	&:before
		margin-right 0.5rem // 8px
		link-icon($width: 28px, $height: $width, $bg-img: url('../imgs/icons/contact-sprite.svg'), $bg-size: auto 28px)
	&--mail:before
		background-position 0 0
	&--telegram:before
		background-position-x -27px
	&--skype:before
		background-position-x -56px
	&--fb:before
		background-position-x -84px
	&--hh:before
		background-position-x -112px
	&--github:before
		background-position-x -141px
	&--fl:before
		background-position-x -169px
	&:hover
		background-position-y -52px
	
	
	
	
	
	
	
	// Поведение иконок при наведении
	//.a
	//	transition all 0.2s ease
	//&:hover .a
	//	fill lighten($brand-1, 10%)
