extends ../-templates/portfolio--tpl.pug


block title
	| 5

block desc
	| 5

block date
	| 5

block link
	- var $link_enabled = false
	- var $link = 'https://tatianafokina.github.io/Stylus-CSS-Grid-System/'
	- var $link_title = 'Страница на GitHub'

block content
	p 5