extends ../-templates/portfolio--tpl.pug


block title
	| Новогодняя <span lang='en'>CSS</span>-анимация

block desc
	| Символ 2017 года, который я сверстала для конкурса группы <span lang='en'>«PHP, JavaScript, jQuery, CSS, HTML»</span> во ВКонтакте.

block date
	| 18 декабря 2016

block link
	- var $link_enabled = false
	- var $link = ''
	- var $link_title = ''

block content
	p Главное условие конкурса — сделать картинку на чистом <span lang='en'>CSS</span> без использования <span lang='en'>JS</span> и <span lang='en'>SVG</span>. Поэтому цыплёнок — это <span lang='en'>CSS</span>-анимация, никакого мошенничества.
	p У изображения два состояния: исходное и при наведении.
	p Сначала анимирован только снег. Все снежинки разделены на три группы с уникальными родительскими классами. Им задано свойство <span lang='en'>animation</code>, которое помогает снегу падать.
	p Картинка меняется, когда наводишь на неё курсор. Сверху накладывается красный слой, изменяется цвет глаз символа года, а в левом крыле появляется топор. И вот уже цыплёнок не такой безобидный, каким казался раньше. Всё это благодаря псевдоэлементу <code lang='en'>:hover</code>.
	h4 Инструменты
	p <span lang='en'>Pug, Stylus, PhpStorm</span>.
	h4 <span lang='en'>CodePen</span>
	<p data-height="622" data-theme-id="light" data-slug-hash="mMreRr" data-default-tab="result" data-user="tatiana-fokina" data-embed-version="2" data-pen-title="Chicken" class="codepen">.</p>
	<script defer src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
