extends ../-templates/portfolio--tpl.pug


block title
	| Сайт-портфолио Натальи Тычинской


block desc
	| Сайт нарративного дизайнера Натальи Тычинской. Задача заключалась в следующем: сверстать сайт-портфолио и перенести его на CMS.


block date
	| Январь 2018

block link
	- var $link_enabled = true
	- var $link = "https://tychinskaya.tk"
	- var $link_title = "tychinskaya.tk"


block content
	p Hello World!!!11d\