extends ../-templates/portfolio--tpl.pug


block title
	| Сайт-портфолио Натальи Тычинской

block desc
	| Сайт нарративного дизайнера Натальи Тычинской. Задача заключалась в следующем: сверстать сайт-портфолио и перенести его на CMS.

block date
	| Ноябрь 2017

block link
	- var $link_enabled = true
	- var $link = 'https://tychinskaya.tk'
	- var $link_title = 'tychinskaya.tk'

block content
	p Одностраничный сайт с разделами "Обо мне", "Работы" и "Контакты", который разрабатывался совместно с заказчиком на основе его PSD-шаблона.
	h4 Инструменты
	p Pug, Stylus, jQuery, собственный CSS-фреймворк, Gulp, WebStorm, Axure RP, Adobe Photoshop, Zeplin, Figma.
	h4 Скриншоты проекта и примеры кода
	+project-img-with-caption('/natashya/nat-all.jpg', 'Сайт со всеми разделами', 'все разделы сайта')
	+project-img-with-caption('/natashya/nat-modal.jpg', 'Модальное окно', 'модальное окно')
	+project-img-with-caption('/natashya/nat-mobile.jpg', 'Мобильная версия', 'сайт на мобильниках')
	+project-img-with-caption('/natashya/nat-phpstorm.jpg', 'Рабочая среда', 'проект в PhpStorm')
	+project-img-with-caption('/natashya/nat-tpl.jpg', 'Шаблоны для MODX', 'шаблоны для MODX')
	+project-img-with-caption('/natashya/nat-stylpug.jpg', 'Переменные в Stylus и миксин в Pug', 'миксины и переменные')
