extends ../-templates/portfolio--tpl.pug


block title
	| Stylus CSS Grid System

block desc
	| Модульная сетка на <span lang='en'>CSS Grid</span> и препроцессоре <span lang='en'>Stylus</span>.

block date
	| Январь 2018

block link
	- var $link_enabled = true
	- var $link = 'https://tatianafokina.github.io/Stylus-CSS-Grid-System/'
	- var $link_title = 'Страница на GitHub'

block content
	p Это <span lang='en'>open-source</span> проект, который я сделала из исследовательских интересов. Мне хотелось сравнить как работают <span lang='en'>flexbox</span> и <span lang='en'>grid</span>.
	p Проект написан на <span lang='en'>Stylus</span> и <span lang='en'>Pug</span>. Я перенесла основные классы и функции модульной сетки <span lang='en'>Bootstrap</span> 4 и автоматизировала её построение с помощью переменных и миксинов.
	h4 Инструменты
	p <span lang='en'>Pug, Stylus, Bootstrap 4, Gulp, WebStorm, GitHub, GitHub Pages</span>.

	h4 Скриншоты проекта и примеры кода
	+project-img-with-caption('/stylus-grid/stylus-grid-page.jpg', 'Страница на GitHub Pages', 'Скришнот страницы')
	+project-img-with-caption('/stylus-grid/stylus-grid-storm.jpg', 'Файлы с переменными и миксинами для колонок', 'Файлы с переменными и миксинами, генерирующими колонки')
