extends ../-templates/portfolio--tpl.pug


block title
	| Stylus CSS Grid System


block desc
	| Open-source проект модульной сетки на препроцессоре Stylus.


block date
	| Январь 2018

block link
	- var $link_enabled = true
	- var $link = "https://tatianafokina.github.io/Stylus-CSS-Grid-System/"
	- var $link_title = "Страница на GitHub"


block content
	p Hello World!!!11d\