extends ../-templates/portfolio--tpl.pug


block title
	| Страница сайта туроператора

block desc
	| Страница с подборками туров.

block date
	| Июль 2018

block link
	- var $link_enabled = true
	- var $link = 'https://tatianafokina.github.io/tourcenter/'
	- var $link_title = 'Демо'
	- var $link2 = 'https://github.com/TatianaFokina/tourcenter'
	- var $link2_title = 'Репозиторий на GitHub'

block content
	p Это страница сайта туроператора <span lang='en'>Tourcenter</span>. Она называется «Интересы». На ней пользователи выбирают интересующие их направления путешествий и сохраняют на будущее.
	p На странице есть вкладки с разными подборками. Во вкладках одинаковые поля. Это название подборки, страна, дата поездки, стоимость тура, рейтинг отеля, его расположение, питание и количество гостей.
	p Поля интерактивные. При клике на них или фокусе с клавиатуры появляется выпадающее меню с разными опциями. Нужный пункт после клика попадает в поле.
	p Звёзды по клику закрашиваются жёлтым.
	p Выпадающие списки, автозаполнение полей и навигацию с клавиатуры я писала на <span lang='en'>jQuery</span>. Для рейтинга со звёздами я выбрала <span lang='en'>CSS</span>. Выбор диапазон дат вылета — заслуга <a href='http://t1m0n.name/air-datepicker/docs/index-ru.html' target='_blank' rel='noopener noreferrer' lang='en'>Air Datepicker</a>.
	p Дизайн-макет страницы был только для десктопов, поэтому страница неадаптивная.
	h4 Инструменты
	p <span lang='en'>Pug, Stylus, jQuery</span>, собственный <span lang='en'>CSS</span>-фреймворк, <span lang='en'>Gulp, WebStorm, Figma, GitHub, GitHub Pages</span>.

	h4 Скриншоты проекта и примеры кода
	+project-img-with-caption('/tourcenter/tourcent-tab.jpg', 'Подборки', 'Страница с подборками туров')
	+project-img-with-caption('/tourcenter/tourcenter-pug-stars.jpg', 'Рейтинг на Pug', 'Разметка звёзд на Pug')
	+project-img-with-caption('/tourcenter/tourcenter-styl-var.jpg', 'Переменные с цветами в Stylus', 'Переменные в Stylus')
	+project-img-with-caption('/tourcenter/tourcenter-jquery.jpg', 'Скрипт на jQuery', 'Фрагмент кода на jQuery')
