extends ../-templates/portfolio--tpl.pug


block title
	| 333333333333333333333

block desc
	| 33333333

block date
	| 33

block link
	- var $link_enabled = false
	- var $link = 'https://tatianafokina.github.io/Stylus-CSS-Grid-System/'
	- var $link_title = 'Страница на GitHub'

block content
	p 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333 33333333333333333333333333333333333