extends ../-templates/portfolio--tpl.pug


block title
	| Сайт Вадима Давыдова

block desc
	| Сайт фотографа из США, который занимается корпоративной съёмкой.

block date
	| Январь 2018

block link
	- var $link_enabled = true
	- var $link = 'https://old.vd-photo.com'
	- var $link_title = 'vd-photo.com'

block content
	p Это портфолио с формами для бронирования фотосессий. Сайт состоит из пяти страниц. Это <span lang='en'>«About», «Headshot», «Architecture», «Commercial»</span> и <span lang='en'>«Blog»</span>.
	p После того, как сверстала адаптивный макет, перенесла его на <span lang='en'>CMS MODX</span>.
	p Создавала сайт в команде с <span lang='en'>UX/UI</span> дизайнером, <span lang='en'>backend</span>-разработчиком и контент-менеджером.
	h4 Инструменты
	p <span lang='en'>Pug, Stylus</span>, собственный <span lang='en'>CSS</span>-фреймворк, <span lang='en'>Gulp, PhpStorm, Axure RP, Adobe Photoshop, Zeplin, Trello</span>.

	h4 Скриншоты проекта и примеры кода
	+project-img-with-caption('/vd-photo/vd-commercial.jpg', 'Страница «Commercial»', 'Скриншот страницы Commercial')
	+project-img-with-caption('/vd-photo/code-phpstorm-vd.jpg', 'Рабочая среда', 'Рабочая среда — WebStorm')
	+project-img-with-caption('/vd-photo/vd-form.jpg', 'Форма заявки «Book Session»', 'Скриншот с формой Book Session')
	.row
		.col--lg-4
			+project-img-with-caption('/vd-photo/vd-blog-adaptive.jpg', 'Пост на мобильном устройстве', 'Пост из блога на мобильнике')
		.col--lg-4
			+project-img-with-caption('/vd-photo/vd-menu-hamburger.jpg', 'Меню-гамбургер', 'Меню-гамбургер на мобильном')
	+project-img-with-caption('/vd-photo/code-pug-mixins-vd.jpg', 'Миксин Pug для хлебных крошек', 'Использование Pug для создания хлебных крошек')
	+project-img-with-caption('/vd-photo/code-styl-variables-interp-vd.jpg', 'Переменные, интерполяции и медиа-запросы в Stylus', 'Переменные, интерполяции и медиа-запросы в Stylus')
