include -helpers/mixins

.modal-container(role='dialog' aria-labelledby='modal__title' aria-hidden='true')
	.modal
		.modal__header
			h3#modal__title.modal__title Название работы
			.modal__pager
				button(aria-label='Предыдущая работа').modal__pager__prev
				button(aria-label='Следующая работа').modal__pager__next
			button(aria-label='Закрыть окно').modal__close-btn
		.modal__content-wrp
			.modal__content-header
				.modal__date
				.modal__desc
				.modal__link
			.modal__content
