include -helpers/mixins
.modal-container
	.modal
		.modal__header
			.modal__title
			.modal__pager
				.modal__pager__prev
				.modal__pager__next
			.modal__close-btn
		.modal__content-wrp
			.modal__content-header
				.modal__date
				.modal__desc
				.modal__link
			.modal__content