include -helpers/mixins

.modal-container
	.modal
		.modal__header
			h3.modal__title
			.modal__pager
				button.modal__pager__prev
				button.modal__pager__next
			button.modal__close-btn
		.modal__content-wrp
			.modal__content-header
				.modal__date
				.modal__desc
				.modal__link
			.modal__content
