include -helpers/mixins

+work('Stylus CSS Grid System', 'Модульная сетка на CSS Grid Layout и Stylus', 'stylus-css-grid-system', '/imgs/portfolio/portfolio-css-grid.jpg')
+work('Сайт нарративного дизайнера', 'Портфолио Натальи Тычинской', 'narrative-designer', '/imgs/portfolio/portfolio-nar-designer.jpg')
+work('Сайт дизайн-бюро', 'Бюро UX-дизайнера Василия Дудина', 'vasd', '/imgs/portfolio/portfolio-ux-designer.jpg')
+work('Портфолио фотографа', 'Сайт Вадима Давыдова', 'vd', '/imgs/portfolio/portfolio-vd.jpg')
+work('СSS-анимация', 'Работа для новогоднего конкурса картинок', 'chicken', '/imgs/portfolio/portfolio-chicken.jpg')
+work('Страница сайта туроператора', 'Вкладка с формами', 'tourcenter', '/imgs/portfolio/tourcenter.jpg')
