include -helpers/mixins

+work('Stylus CSS Grid System', 'Модульная сетка на CSS Grid Layout и Stylus', 'stylus-css-grid-system.html', '/imgs/portfolio/portfolio-5.jpg')
+work('Сайт нарративного дизайнера', 'Портфолио Натальи Тычинской', 'narrative-designer.html', '/imgs/portfolio/portfolio-4.jpg')
+work('Сайт дизайн-бюро', 'Бюро UX-дизайнера Василия Дудина', 'vasd.html', '/imgs/portfolio/portfolio-3.jpg')
+work('Портфолио фотографа', 'Сайт Вадима Давыдова', 'vd.html', '/imgs/portfolio/portfolio-1.jpg')
+work('СSS-анимация', 'Работа для новогоднего конкурса картинок', 'chicken.html', '/imgs/portfolio/portfolio-2.jpg')
