@import '../mixins/mixins__custom.styl'

$modal-header__bg = #e0e0e0
:root
	--modal__padding: 16px
+media(md)
	:root
		--modal__padding: 24px




// ===================================================================================================================
// Универсальные свойства, которые можно применить к другим модальным окнам или на других проектах
// ===================================================================================================================

.modal-container
	display none
	justify-content center
	align-items flex-start
	position fixed
	top 0
	left 0
	height 100%
	width 100%
	z-index 9990
	background alpha(#424242, 0.95)
	text-align center
	white-space nowrap
	overflow auto // todo Нужен?
	overflow-x hidden

.modal
	width 100%
	max-width 960px
	position: relative
	z-index 9998
	text-align left
	white-space normal
	background $brand-white
	// color $body-color //todo Точно нужно?
	box-shadow 0 0 20px rgba(0, 0, 0, 0.6)

	// Адаптивное
	+media(lg)
		margin-top 1rem

	// Modal header
	&__header
		padding-left var(--modal__padding)
		height 8px * 5
		position sticky
		top 0 // for 'sticky'
		@extend .d-flex
		align-items center
		background $modal-header__bg
	&__title
		margin 0
		position relative
		font-size $font-size-h3 // 21px
	
	// Close button
		position: relative
		font-size 1.313rem // 21px
		margin: 0
		
	&__pager
		@extend .d-flex
		height 100%
		margin 0 2vw 0 auto
		&__prev
		&__next
			width: 50px
			height 100%
			background no-repeat 50% 50% svg-load('../imgs/icons/pager-arrow.svg')
			background-size auto 1rem
			flex 1 0 auto
			cursor pointer
		&__prev
			transform rotate(180deg)
			
	
	&__close-btn
		width 50px
		height 100%
		background no-repeat 50% 50% svg-load('../imgs/icons/close.svg')
		width 50px
		height 100%
		position absolute
		top 0
		right 0
		background no-repeat 50% 50% svg-load('../imgs/close.svg')
		background-size 18px
		border 0
		cursor pointer
		z-index 9999
		&:hover
			background-color darken($modal-header__bg, 20%)
		
	// Content block
	&__content-header
		padding calc(var(--modal__padding) - 8px) var(--modal__padding)
		
	// Header of content block
	&__content-header
		font-size $font-size-sm // 13px
		background lighten($modal-header__bg, 35%)
		
	// Content
	&__content
		padding var(--modal__padding)