@import '../mixins/mixins__custom.styl'

$modal-header__bg = #2d2d2d
:root
	--modal__padding: 16px
+media(md)
	:root
		--modal__padding: 24px




.modal-container
	display none
	justify-content center
	align-items flex-start
	position fixed
	top 0
	left 0
	height 100%
	width 100%
	z-index 9990
	background $brand-white
	overflow-x hidden
	cursor pointer

.modal
	width 100%
	max-width $last-width
	min-height 1200px
	position relative
	background $brand-white
	white-space normal
	box-shadow 0 -10px 40px rgba(0,0,0,0.1)
	cursor default
	// Adaptive
	/*+media(lg)
		margin-top 1rem*/

	// Modal header
	&__header
		padding-left var(--modal__padding)
		height 8px * 5
		position sticky
		top 0 // for 'sticky'
		z-index 9999
		@extend .d-flex
		align-items center
		background $modal-header__bg
		color #fff
	&__title
		margin 0
		position relative
		line-height 1.2
		// Adaptive
		font-size 0.9rem
		+media(md)
			font-size $font-size-h3 // 21px
	
		
	&__pager
		@extend .d-flex // todo Зачем?
		height 100%
		
		// Adaptive
		margin-left auto
		+media(md)
			margin-right 2vw
		
		&__prev
		&__next
			height 100%
			@extend .btn-reset
			background no-repeat 50% 50% svg-load('../imgs/icons/pager-arrow.svg')
			flex 1 0 auto // todo Зачем?
			cursor pointer
		
		&__prev
			transform rotate(180deg)
	
	// Close button
	&__close-btn
		font-size 1.313rem // 21px
		width 50px
		height 100%
		
		background no-repeat 50% 50% svg-load('../imgs/icons/close.svg')
		
	// Next & prev buttons
	&__pager__prev
	&__pager__next
	&__close-btn
		@extend .btn-reset
		background-size auto 1rem
		&:hover
			background-color lighten($modal-header__bg, 5%)
		&:active
			background-color lighten($modal-header__bg, 15%)
		// Adaptive
		width 40px
		+media(md)
			width 50px
		
		
	// Header of content block
	&__content-header
		padding calc(var(--modal__padding) - 8px) var(--modal__padding)
		font-size $font-size-sm // 1px
		background lighten(#cfd8dc, 30%)
	&__date
		opacity 0.6
		
		
		
	// Content
	&__content
		padding var(--modal__padding)
		padding-bottom calc(var(--modal__padding) * 2)
		h4
			margin-top 3rem




// Screenshots
.work-img
	display inline-block
	// Screenshot border
	&-inr
		display table
		border 4px solid $brand-gray-lightest
		+media(sm)
			margin-bottom 1.5rem
		+media(lg)
			margin-bottom 2rem

	&__img
		@extend .img-fluid
	// Caption style
	&__caption
		padding 2px 10px
		font-size 0.8rem
		font-style italic
		color $brand-light-gray




// CodePen
#cp_embed_mMreRr
	background-color $brand-light-gray
