// Списки (отступ снизу для единственного или последнего в группе)
ul:last-of-type
	margin-bottom 0


	
//Separator
/*
.striped-section:nth-child(even):before
.striped-section:nth-child(even):after
	content ''
	display block
	position absolute
	width 100%
	height 13px
	background-image linear-gradient(to right, #fff 50%, $color-section 50%)
	background-size 35px 100%*
		

// Заливка изображения при наведении

//.img-hover
//	position relative
//	&:before
//		content ''
//		display block
//		position absolute
//		top 0
//		left 0
//		width 100%
//		height 100%
//		transition all .2s ease
//	&:hover:before
//		background alpha($brand-2--3, 0.38)
		//box-shadow 0 5px 15px rgba(0,0,0,.2)

.caption
	position absolute
	bottom -110px
	background linear-gradient(#1c8a7d, #19dfe4)
	opacity .9
	width 100%
	padding 15px
	color #fff
	transition all 0.3s ease

.img-port-wrp:hover .caption
	bottom 0
	
	

// Текст или ссылки с иконками
.text-icon
	display inline-block
	padding-left 23px
	background-size 16px
	background-repeat no-repeat
	background-position 0 4px
	line-height 2