include ../-helpers/variables
include ../-helpers/mixins

doctype html
html(lang='ru')
	include -templates-includes/head--inc
	body(data-spy='scroll' data-target='.nav-item__lnk' data-offset='50')

		//-Heading
		include -templates-includes/header--inc

		block content

		//-Footer
		include -templates-includes/footer--inc
