include ../-helpers/variables
include ../-helpers/mixins

#title
	block title

#desc
	block desc
#date
	block date

block link
if ($link_enabled)
	#link
		a(href=$link, rel='noopener noreferrer' target='_blank')= $link_title

#content
	block content
