include ../-helpers/variables
include ../-helpers/mixins

#title
	block title

#desc
	block desc

#date
	block date

block link
#link
	if (!!$link)
		div: a(href= $link rel='noopener noreferrer' target='_blank')= $link_title
	if (!!$link2)
		div: a(href= $link2 rel='noopener noreferrer' target='_blank')= $link2_title

#content
	block content
