// ===================================================================================================================
// Responsive images
// ===================================================================================================================

.img-fluid
	img-fluid()




// ===================================================================================================================
// Figures
// ===================================================================================================================

.figure
	// Ensures the caption's text aligns with the image
	display inline-block

.figure-img
	margin-bottom 1rem
	line-height 1

/*
.figure-caption
	font-size $figure-caption-font-size
	color $figure-caption-color*/
