.nav // ul
	@extend .d-flex
	margin 0
	//flex-wrap wrap
	//flex-grow 1
	justify-content space-between
	
	// Adaptive for md nav items
	margin-bottom 1rem // 16px
	+media(md)
		margin-bottom 0
		flex-wrap nowrap
	
	// Adaptive for drop-down menu
	flex-direction column
	align-items flex-end
	+media(sm)
		flex-direction row
	&-wrp
		margin-right -1rem
		+media(sm)
			margin-right 0




// ===================================================================================================================
// Navigation links
// ===================================================================================================================

// links
.nav-item // li
	display flex
	flex 1 0 auto
	justify-content center
	align-items center
	white-space nowrap
	&__lnk // a
		flex: 1 0 auto
		@extend .d-flex
		justify-content center
		align-items center
		&:hover
			//color lighten($brand-2, 10%)
			background $brand-2
			
		// Adaptive
		height 32px + 8
		margin-bottom: 1rem
		padding 0 1rem
		+media(md)
			height 38px
			margin 0
			padding 0
	
		// Github link
		&--github:before
			margin-right 0.5rem // 8px
			content ''
			background url('../imgs/icons/ico-github.svg') no-repeat 50% 50%
			background-size contain
			
			// Adaptive
			width 21px
			height @width
			+media(md)
				width 25px
				height @width
			
	&__title
		line-height: 1.2


// Fixed for bug with hidden items when you expand or collapse menu
.nav-wrp
	+media(sm)
		display block !important




// ===================================================================================================================
// Mobile menu
// ===================================================================================================================

.hamburger
	@extend .btn-reset
	width 42px
	height @width
	position absolute
	top 11px
	right 1rem
	background $brand-white url('../imgs/icons/ico-hamburger.svg') no-repeat 50% 50%
	background-size 24px
	border none
	border-radius 3px
	z-index 999
	&.in
		background-color #b1e2de
	// Expand & collapse hamburger icon
	+media(sm)
		display none

// Expand & collapse
.js-expand-block
	display none
	flex-grow 1
	align-self flex-end
	transition max-height .7s, visibility .7s
	// Expand & collapse menu items
	overflow hidden
	+media(sm)
		align-self center
	+media(sm)
		max-height unset
		display flex
		align-items inherit
