.nav // ul
	@extend .d-flex
	margin: 0
	//flex-wrap wrap
	//flex-grow 1
	justify-content space-between
	
	// Adaptive for md nav items
	margin-bottom 1rem // 16px
	+media(md)
		margin-bottom 0
		flex-wrap nowrap
	
	// Adaptive for drop-down menu
	flex-direction column
	align-items flex-end
	+media(sm)
		flex-direction row
	&-wrp
		margin-right -1rem
		+media(sm)
			margin-right 0




// ===================================================================================================================
// Navigation links
// ===================================================================================================================
	
// links
.nav-item // li
	display flex
	flex 1 0 auto
	justify-content center
	align-items center
	white-space nowrap
	&__lnk
		flex: 1 0 auto
		@extend .d-flex
		justify-content center
		&:hover
			color lighten($brand-1, 10%)
			background  alpha($brand-1, 25%)
			
		// Adaptive
		padding 1rem
		+media(md)
			padding 0.5rem 0 // 8px
	
	// Github link
	&__github
		&:before
			margin-right 0.5rem // 8px
			link-icon($width: 25px, $height: $width, $bg-img: url('../imgs/icons/ico-github.svg'), $bg-size: cover)


// Fixed for bug with hidden items when you expand or collapse menu
.nav-wrp
	+media(sm)
		display block !important




// ===================================================================================================================
// Mobile menu
// ===================================================================================================================

.hamburger
	height 30px
	width 30px
	position absolute
	top 22px
	right 16px
	background $brand-white url('../imgs/icons/ico-hamburger.svg') no-repeat 50% 50%
	background-size 35px
	border none
	border-radius 3px
	z-index 999
	&.in
		background-color lighten($brand-1, 80%)
	// Expand & collapse hamburger icon
	+media(sm)
		display none

// Expand & collapse
.js-expand-block
	display none
	flex-grow 1
	align-self flex-end
	transition max-height .7s, visibility .7s
	// Expand & collapse menu items
	overflow hidden
	+media(sm)
		align-self center
	+media(sm)
		max-height unset
		display flex
		align-items inherit
