body
	background-color $brand-white




// ===================================================================================================================
// Main text
// ===================================================================================================================

html
	font-family 'Roboto', sans-serif
	font-size $font-size-root
	font-weight normal
	line-height $line-height-base
	color $body-color
	// Адаптивное
	//+media(lg)
	//	font-size $font-size-root
