footer
	padding 38px
	background-color #263238
	text-align center
	color rgba(255, 255, 255, 0.3)




// Sticky footer
body
	height 100vh // min-height 100vh
	display flex
	flex-direction column

.content
	flex 1 0 auto




// Padding before footer
.content>:last-of-type
	padding-bottom 5.125rem // 82px
