body
	background-color $brand-white




// ===================================================================================================================
// Main text
// ===================================================================================================================

html
	font-family 'Roboto', sans-serif
	font-weight normal
	line-height $line-height-base
	color $body-color
	// Adaptive
	font-size $font-size-sm
	+media(md)
		font-size $font-size-md
	+media(lg)
		font-size $font-size-root
