// ===================================================================================================================
// Thin underline
// ===================================================================================================================
$thin-underline-opacity = 20%

$thin-underline--default
	border-bottom 2px solid
	border-bottom-color alpha($link-color, $thin-underline-opacity)

$thin-underline--hover
	border-bottom-color alpha($link-color--hover, $thin-underline-opacity)
$thin-underline--active
	border-bottom-color alpha(darken($link-color--hover, 50%), $thin-underline-opacity)




// ===================================================================================================================
// a:hover, a:active, a:focus
// ===================================================================================================================
a
	color $link-color
	text-decoration none
	transition color 0.2s ease, border-color 0.2s ease
	@extend $thin-underline--default
	&:hover
		color $link-color--hover
		@extend $thin-underline--hover
	&:active
		color darken($link-color--hover, 50%)
		@extend $thin-underline--active
	&.focus-visible
		outline 2px solid $brand-2
		outline-offset 3px
	
// This will hide the focus indicator if the element receives focus via the mouse, but it will still show up on keyboard focus
.js-focus-visible :focus:not(.focus-visible)
	outline none
